@model RingoMedia.Tasks.Application.Models.CreateDepartmentModel

@{
    ViewData["Title"] = "Create Department";
}
@section Styles {
    <style>
        .department-custome-style {
            margin-top: 5px;
        }
    </style>
}
<h1>Create Department</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LogoUrl" class="control-label"></label>
        <input asp-for="LogoUrl" class="form-control" />
        <span asp-validation-for="LogoUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Parent Department</label>
        <!--This div for load department dropdown list-->
        <div id="departmentDropdowns"></div>
        <input type="hidden" id="ParentDepartmentId" name="ParentDepartmentId" />
        <span asp-validation-for="ParentDepartmentId" class="text-danger"></span>
    </div>
    <br />
    <input type="submit" value="Create" class="btn btn-success" />
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadSubDepartments(null, 0);

            document.getElementById('departmentDropdowns').addEventListener('change', function (event) {
                if (event.target.classList.contains('department-select')) {
                    var selectedValue = event.target.value;
                    var level = parseInt(event.target.dataset.level);
                    console.log('selected value is:', selectedValue);
                    console.log('level value is:', level);
                    // Remove all dropdowns after the current level
                    var dropdowns = document.querySelectorAll('.department-select');
                    dropdowns.forEach(function (dropdown) {
                        if (parseInt(dropdown.dataset.level) > level) {
                            dropdown.parentElement.removeChild(dropdown);
                        }
                    });

                    dropdowns = document.querySelectorAll('.department-select');
                    if (selectedValue) {
                        loadSubDepartments(selectedValue, level + 1);
                        document.getElementById('ParentDepartmentId').value = selectedValue;
                    } else {
                        document.getElementById('ParentDepartmentId').value = dropdowns.length > 1 ? dropdowns[dropdowns.length - 2].value : "";
                    }
                    console.log('ParentDepartmentId value is:', document.getElementById('ParentDepartmentId').value);
                }
            });
        });

        function loadSubDepartments(parentId, level) {
            fetch('/Departments/GetSubDepartments?id=' + (parentId || ''))
                .then(response => response.json())
                .then(data => {
                    if (data.length > 0) {
                        var select = document.createElement('select');
                        select.classList.add('form-control', 'department-select', 'department-custome-style');
                        select.dataset.level = level;
                        var option = document.createElement('option');
                        option.value = '';
                        option.text = 'Select Parent Department';
                        select.appendChild(option);

                        data.forEach(department => {
                            var option = document.createElement('option');
                            option.value = department.id;
                            option.text = department.name;
                            select.appendChild(option);
                        });

                        document.getElementById('departmentDropdowns').appendChild(select);
                    }
                });
        }
    </script>
}
