@model RingoMedia.Tasks.Application.Models.CreateDepartmentModel

@{
    ViewData["Title"] = "Create Department";
}

<h1>Create Department</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LogoUrl" class="control-label"></label>
        <input asp-for="LogoUrl" class="form-control" />
        <span asp-validation-for="LogoUrl" class="text-danger"></span>
    </div>
    <div class="form-group" id="departmentContainerDev">
        <label class="control-label">Parent Department</label>
        <!--This div for load department dropdown list-->
        <div id="departmentDropdowns"></div>
        <input type="hidden" id="ParentDepartmentId" name="ParentDepartmentId" />
        <span asp-validation-for="ParentDepartmentId" class="text-danger"></span>
    </div>
    <br />
    <input type="submit" value="Create" class="btn btn-success" />
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/departments.js"></script>
}
