@model IEnumerable<RingoMedia.Tasks.Application.Dto.DepartmentHierarchyDto>

@{
    ViewData["Title"] = "Display Departments";
}
<style>
    li {
        cursor: pointer;
        color: blue;
    }

    .text-silver {
        color: silver;
    }
</style>

@if (Model.Any())
{
    <h1 style="margin-top:20px;">Sub Departments Tree</h1>
    <small class="text-silver">Click to view sub departments</small>
    <div id="departmentsTree">
        @Html.Raw(BuildTree(Model.ToList()))
    </div>
}
<hr />
<a asp-action="Index" class="btn btn-primary">< Back</a>



@functions {
    public string BuildTree(List<RingoMedia.Tasks.Application.Dto.DepartmentHierarchyDto> departments)
    {
        var html = "<ul>";
        foreach (var department in departments)
        {
            html += "<li>" + department.Name;
            if (department.SubDepartments != null && department.SubDepartments.Count > 0)
            {
                html += BuildTree(department.SubDepartments);
            }
            html += "</li>";
        }
        html += "</ul>";
        return html;
    }
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#departmentsTree > ul').show();

            $('#departmentsTree li').click(function (e) {
                $(this).children('ul').toggle();
                e.stopPropagation();
            });
        });
    </script>
}