@model RingoMedia.Tasks.Application.Models.UpdateDepartmentModel

@{
    ViewData["Title"] = $"Edit Department | {Model.Name}";
}

<h1>Edit <strong>@Model.Name</strong> Department</h1>

<div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LogoUrl" class="control-label"></label>
            <input asp-for="LogoUrl" class="form-control" />
            <span asp-validation-for="LogoUrl" class="text-danger"></span>
        </div>

        <div class="form-group" id="departmentContainerDev">
            <label asp-for="ParentDepartmentId" class="control-label">Parent Department</label>
            <input type="hidden" asp-for="ParentDepartmentId" id="ParentDepartmentId" />
            <div id="departmentDropdowns"></div>
        </div>

        <div class="form-group">
            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const parents = @Html.Raw(Json.Serialize(ViewBag.ParentDepartments));
    </script>
    <script src="~/js/departments.js"></script>
}