@model IEnumerable<RingoMedia.Tasks.Domain.DbEntities.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<a class="btn btn-outline-primary" asp-action="Create">create departemnt</a>
<a class="btn btn-outline-warning" asp-action="DisplayDepartments">Display departments</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Parent Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Name</td>
                <td>@department.ParentDepartment?.Name</td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@department.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
